<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="DiscUtils" version="0.16.13" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net48" />
</packages>
